/* Max container width sm:540px	md:720px	lg:960px	xl:1140px */
:root {
  --radius1: 0.375rem;
  --form-bg: white;
  --form-color2: #777;
  --form-color3: #cf2c2c;

  --form-font-color: black;
  --form-text2: rgb(255, 255, 255);

  --form-focus: var(--form-color3);
  --option-bg: var(--form-bg);
  --form-arrow: var(--form-color2);
  --form-border: 1px solid var(--form-color2);
  --form-border-radius: var(--radius1);
  --form-font-size: 1rem;
  --form-line-height: 1.5;
  --form-padding: 0.375rem 0.75rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.layout-lg {
  /* overflow: hidden; */
  margin: 0 auto;
  max-width: 960px;
  /* height: 100%; */
}
.shadow-sm {
  box-shadow: 0 4px 0.5rem -0.125rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 5px 20px 0 rgba(234, 32, 39, 0.3);
}

.btn {
  background-color: rgba(23, 26, 32, 0.8);
  border: none;
  margin-bottom: 1px;
  border-radius: 6px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 185px;
  padding: 0 16px 0 16px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: rgba(23, 26, 32, 1);
  cursor: pointer;
}

.btn--success {
  background-color: #04aa6d;
} /* Green */
.btn--success:hover {
  background-color: #46a049;
}

.btn--info {
  background-color: #2196f3;
} /* Blue */
.btn--info:hover {
  background: #0b7dda;
}

.btn--warning {
  background-color: #ff9800;
} /* Orange */
.btn--warning:hover {
  background: #e68a00;
}

.btn--danger {
  background-color: #f44336;
} /* Red */
.btn--danger:hover {
  background: #da190b;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ipt {
  border: var(--form-border);
  border-radius: var(--form-border-radius);
  padding: var(--form-padding);
  font-size: var(--form-font-size);
  background-color: var(--form-bg);
  color: var(--form-font-color);
  line-height: var(--form-line-height);

  font-weight: 400;
  display: block;
  width: 100%;
  /* background-clip: padding-box; */
  transition: all 0.15s ease-in-out;
}
.ipt-forbtn {
  border-radius: var(--radius1) 0 0 var(--radius1);
}
.ipt-btn {
  width: 40px;
  /* height: 36px; */
  line-height: var(--form-line-height);
  border: var(--form-border);
  background: var(--form-color2);
  color: var(--form-text2);
  text-align: center;
  border-radius: 0 var(--radius1) var(--radius1) 0;
  cursor: pointer;
  font-size: 20px;
}
.ipt-btn:hover {
  /* border: 1px solid var(--form-bg); */
  background: var(--form-bg);
}

/* Select customization */

/* A reset of styles, including removing the default dropdown arrow */
/* Additional resets for further consistency */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
.select {
  width: 100%;
  /* min-width: 15ch;
  max-width: 30ch; */
  border: var(--form-border);
  border-radius: var(--form-border-radius);
  padding: var(--form-padding);
  font-size: var(--form-font-size);
  background-color: var(--form-bg);
  line-height: var(--form-line-height);

  cursor: pointer;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
/* arrow */
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--form-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
select,
.select:after {
  grid-area: select;
}
select option {
  background: var(--option-bg);
  color: var(--form-font-color);
}
/* option:not(:checked) {
  background-color: #57c425;
} */

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--form-focus);
  border-radius: inherit;
}
.select--disabled {
  cursor: not-allowed;
  background-color: var(--form-color2);
  /* background-image: linear-gradient(to top, #ddd, #eee 33%); */
}

/* specific */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=Modak&family=Sniglet:wght@800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

:root {
  --bg-light: wheat;
  --bg-dark: #363636;
  --primary: #061161;
  --secondary: #aa090e;
  --accent: #f16821;
  --text1: #301f40;
  --text2: wheat;
  --radius1: 7px;

  --success: green;
  --info: gray;
  --warning: gray;
  --danger: red;

  --dark0: black;
  --shadow1: 0 4px 0.5rem -0.125rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.06);
  --gradient1: linear-gradient(180deg, #061161, #aa090e);
  --gradient2: linear-gradient(700deg, #061161, #aa090e);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text1);
  background: var(--bg-light);
}
img {
  display: block;
  width: 100%;
}
header {
  border-bottom: 4px solid black;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 2rem;
}
.navbar__logo {
  flex: 1 1 30%;
  font-size: 2rem;
  /* font-weight: bold; */
  /* color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, */
  /* 1px 1px 0 #000; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__logo span {
  font-family: "Modak", cursive;
  /* font-family: "Sniglet", cursive; */
  /* font-family: "DynaPuff", cursive; */
  font-size: 3rem;
}
.navbar__logo-bg {
  background: white;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem 3rem;
}
.navbar__list:last-of-type {
  display: flex;
  justify-content: flex-end;
}
.navbar__list {
  flex: 1 1 30%;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar__item {
  display: inline;
  margin: 1rem;
}
.navbar__item a {
  color: var(--text1);
  text-decoration: none;
}
.navbar__item a:hover {
  color: #aa090e;
  font-weight: bold;
}
.btn__primary {
  background: var(--accent);
}
section {
  background: wheat;
}
.hero {
  display: flex;
}
.hero__photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thecap {
  flex: 0 0 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  transform: translate(-30px);
}
.thecap:before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(30px);
  background: linear-gradient(180deg, #061161, #aa090e);

  border-radius: 50%;
  margin: 1rem;
  z-index: -1;
  box-shadow: 0 15px 20px 0 rgba(234, 32, 39, 0.3);
}
.hero__text {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}
.hero__text .btn {
  /* flex: 0; */
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin: 0.5rem;
}
.hero__text h1 {
  font-size: 3rem;
  font-weight: 900;
}

.top,
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top__box,
.review__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.review__box {
  height: 240px;
  overflow: hidden;
}
.top__item {
  width: 200px;
  margin: 1rem;
  background: silver;
  padding: 0.5rem;
  text-align: center;
}

.review__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fffafa;
  border-radius: var(--radius1);
  padding: 1rem;
  margin: 0.7rem;
  box-shadow: var(--shadow1);
}
.review__item p {
  margin-block: 0.5rem;
}

.headline {
  text-align: center;
}
.headline h1 {
  font-size: 3rem;
}
.headline span {
  color: var(--secondary);
}
.banner {
  background: url(../public/img/cesar-leon-qQaWk1rQCzo-unsplash.jpg);
  background-position: center 20%;
  background-size: cover;
}
.banner__box {
  font-size: 3rem;

  color: #fffafa;
  display: flex;
  padding: 1rem;
}
.banner__box h1 {
  flex: 0 0 50%;
}
.footer__stats {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.footer {
  position: relative;
  isolation: isolate;
  color: #fffafa;
  background: var(--gradient2);
  overflow: hidden;
}
.footer::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 75%;
  right: 0;
  transform: skewY(-2deg) translate(0, -40px);
  z-index: -1;
  background: wheat;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
}
.footer__box p {
  margin: 0.5rem;
}
.svgfil {
  fill: #0099ff;
}
.custom-shape-divider-top-1680639790 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1680639790 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1680639790 .shape-fill {
  fill: url(../public/img/kaycee-ingram-4EWhZW7q1hg-unsplash.jpg);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.card__item {
  max-width: 200px;
  padding: 1rem;
  background: white;
}
.card__item img {
  padding: 1rem;
}
.card__item p {
  font-size: 0.7rem;
  overflow: hidden;
  /* text-overflow: ellipsis;
  height: 2rem; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detail {
  display: flex;
  flex-direction: column;
}
.detail__box {
  display: flex;
}
p {
  margin: 0 0.5rem;
}
.hat__box {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
}
.hat__box h1 {
  font-size: 2rem;
}
.hat__more {
  font-size: 0.7rem;
  /* justify-self: flex-end; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hat__reviews {
  margin: 0 1rem;
}
.hat__photo {
  /* flex: 0 1 400px; */
  align-self: center;
  width: 400px;
}
.hat__photo-more {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  margin: 0.4rem 0;
}
.hat__box h2 {
}
.hat__box p {
  font-size: 0.8rem;
}
.order__box {
  flex: 1 1 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
  border-radius: var(--radius1);
  margin: 0 1rem;
  box-shadow: var(--shadow1);
  align-self: start;
}
.order__box h1 {
  font-size: 2rem;
}
.order__box p {
  font-size: 0.7rem;
}
.qty {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #fff; */
}
.qty__add,
.qty__sub {
  font-size: 3rem;
  padding: 0.5rem;
}
.qty__num {
  max-width: 4rem;
}
.order__box .btn {
  margin: 1rem;
}
.related {
  background: white;
}
.related__box {
  display: flex;
  margin: 1rem 0;
}
.related__item {
  flex: 0 0 100px;
  margin: 0.4rem;
}

.cart {
  display: flex;
  flex-direction: column;
}
.cart__box {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #000;
}
.cart__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: silver;
  width: 90%;
  padding: 0 0.5rem;
}
.cart__list__item__photo {
  flex: 0 0 50px;
}
.cart__list h3 {
}
.cart__list__item__qty {
  flex: 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__list__item__qty__pm {
  font-size: 2rem;
  padding: 1rem;
}
.cart__list__item__qty__num {
}
.cart__btn--danger {
  background: var(--danger);
}
.cart .btn {
  margin: 0.4rem;
}

.loader__main {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

:root {
  --barwidth: 500px;
}
.cartbar {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: auto;
  z-index: 1;
  width: var(--barwidth);

  /* overflow-x: hidden; Disable horizontal scroll */
  transition: all 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.cartbar--closed {
  /* width: 0; */
  transform: translateX(var(--barwidth));
}
.cartbar--opened {
}
.modal {
  background: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  color: #00a8ff;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
  color: #fff;
  background: #00a8ff;
}

.pagination .active {
  color: #fff;
  background: #00a8ff;
}

.pagination .active:hover {
  color: #00a8ff;
  background: #fff;
}
.nbafilter {
  margin: 2rem 0;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
}
.nbafilter h1 {
  width: 100%;
}
